:root {
    --black: #000;
    --white: #fff;
    --orange: #ff771a;
    --red: #f21827;
    --red-light: #f2182610;
    --blue: #00a1de;
    --gray:#b3b3b3;
    --gray-2:  #7f7f7f;
    --gray-3: #d8d8d8;
    --gray-4: #f7f7f7;
    --gray-5: #555;
    --gray-6: #cecece;
    --gray-7: #636363;
    --gray-light: #f1f1f1;
    --gray-light-1: #ededed;
    --gray-light-2: #f0f0f0;
    
}